* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.introducao {
    background-color: #130266;
    height: 700px;
}

header {
    background-color: #130266;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 120px;
    height: auto;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: gray;
    transform: scale(1.08);
}

#btn-menu {
    color: white;
}
 
.menu-mobile{
     background-color: #130266;
     height: 100vh;
     position: fixed;
     top: 0;
     right: 0;
     z-index: 99999;
     width: 0%;
     overflow: hidden;
     transition: .5s;
}
 
 .menu-mobile.abrir-menu{
     width: 70%;
}
 
 
 .menu-mobile.abrir-menu ~ .overlay-menu{
     display: block;
}
 
 
 
 .menu-mobile .btn-fechar{
     padding: 20px 5%;
}
 
 .menu-mobile .btn-fechar i{
     color: white;
     font-size: 30px;
}
 
 .menu-mobile nav ul{
     text-align: center;
}
 
 .menu-mobile nav ul li a{
     color: #fff;
     font-size: 20px;
     font-weight: 300;
     padding: 20px 5%;
     display: block;
}

 
 .overlay-menu{
     background-color: rgba(0, 0, 0, 0.493);
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;
     z-index: 88888;
     display: none;
}

.imagem-de-fundo {
    background-image: url(imagens/photo.jpg), linear-gradient(rgba(0, 0, 134, 0.4), rgba(0, 0, 255, 0.4));
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    text-align: center;
    margin: 10px 60px;
    background-attachment: fixed;
    background-size: cover;
    border: 5px solid white;
    padding: 10px;
    height: 450px;
}


.imagem-de-fundo h3 {
    color: white;
    font-size: 25px;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    padding: 150px 80px 30px 80px;
    
}

.imagem-de-fundo button a {
    color: #130266;
    text-decoration: none;
}

.imagem-de-fundo button {
    color: #4d2afa;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.imagem-de-fundo button:hover {
    box-shadow: 0px 0px 8px rgb(67, 8, 161);
    transform: scale(1.05);
    color: darkblue;
    transition: 0.5s;
}

.sobre {
    display: flex;
    align-items: center;
}

.sobre img {
    box-shadow: -40px 30px 0px #130266;
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    height: auto;
    margin-top: 100px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-right: -30px;
}

.sobre p {
    margin: 80px 150px;
    font-size: 18px;
    color: black;
}

.servicos {
    background-color: gray;
    width: 100%;
}

.servicos h1 {
   text-align: center;
   text-decoration: underline;
   color: white;
   padding-top: 70px;
   padding-bottom: 20px;
}

.servicos h3 {
    color: white;
    padding: 10px;
    margin-bottom: 260px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 50px 0;
}

.cartao {
    width: 30%;
    height: 350px;
    perspective: 1000px;
}

.cartao div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: .6s;
}

.frente {
    background-color: #130266;
    color: #130266;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

#um {
    background-image: url(imagens/servicoweb.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 255, 0.2); /* Filtro azul com opacidade */
    background-blend-mode: overlay; /* Aplica a cor sobre a imagem */
    background-size: cover;
    background-position: -0px;
}

#dois {
    background-image: url(imagens/foto-dois.jpg);
    background-color: rgba(0, 0, 255, 0.3); /* Filtro azul com opacidade */
    background-blend-mode: overlay; /* Aplica a cor sobre a imagem */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -0px;
}

#tres {
    background-image: url(imagens/photo-3.jpg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 255, 0.2); /* Filtro azul com opacidade */
    background-blend-mode: overlay; /* Aplica a cor sobre a imagem */
    background-size: cover;
    background-position: -0px;
}

.verso {
    background-color: #130266;
    color: white;
    padding: 0 25px;
    transform: rotateY(180deg); /* Coloca o verso na posição oposta */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.cartao:hover .frente {
    transform: rotateY(180deg);
}

.cartao:hover .verso {
    transform: rotateY(0deg);
}


.valores {
    background-color: #130266;
    text-align: center;
}

.valores h1 {
    color: white;
    text-decoration: underline;
    font-size: 30px;
    padding-top: 70px;
    padding-bottom: 50px;
}

.valor {
    background-color: #130266;
    margin: -5px;
}

.valor h1 {
    color: gray;
    margin-bottom: -15px;
    text-align: left;
    padding: 50px 30px;
}

.valor p {
    color: white;
    padding: 10px 30px;
    text-align: left;
    justify-content: left;
}

.valor h3 {
    color: white;
    text-align: left;
    padding: 10px 30px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    margin-left: 30px;
}

.diferenciais {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.diferenciais img {
    width: 450px;
    border: 2px solid white;
    margin: 30px 40px;
    border-radius: 10px;
}

.artigos h1 {
    color: #130266;
    text-align: center;
    padding-top: 40px;
    text-decoration: underline;
}

.nossos-artigos {
    display: flex;
    height: 530px;
    justify-content: space-between;
    padding-top: 70px;
    margin-bottom: 50px;
}

.nossos-artigos h3 {
    text-align: center;
}


.artigo {
    border: 3px solid #130266;
    box-shadow: 0 0 10px #130266;
    border-radius: 8px;
    height: 480px;
    width: 350px;
}

.artigo a {
    color: #130266;
    padding-left: 30px;
    font-weight: bold;
    cursor: pointer;
}

.artigo h3 {
    padding: 10px 0;
    color: #130266;
}

.artigo p {
    justify-content: left;
    padding: 30px;
}


.artigo img {
    border-radius: 8px;
    width: 345px;
    height: 100px;
    text-align: center;
}

footer {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #130266;
    padding-top: 60px;
    height: 300px;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .2s;
}

footer a:hover {
    color: gray;
    transform: scale(1.08);
}

footer img {
    height: 150px;
}


@media (min-width: 768px) and (max-width: 1280px) {
    .imagem-de-fundo {
        background-position: center;
        height: 400px; /* Ajusta a altura da imagem de fundo */
        margin: 10px 20px;
    }
    
    
    .imagem-de-fundo h3 {
        font-size: 30px; /* Tamanho do texto ajustado */
        padding: 90px 30px 20px 30px; /* Ajuste do padding */
    }

}

@media (min-width: 360px) and (max-width: 767px) {

    #btn-menu {
        color: white;
        margin-right: 20px;
    }

    header {
        background-color: #130266;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: space-between;
    }

    
    header nav.menu-desktop {
        display: none;
    }

    .btn-abrir-menu {
        display: block;
        color: black;
        font-size: 40px;
    }

    .introducao {
        height: 600px; /* Reduz a altura da seção para dispositivos móveis */
    }

    header {
        flex-direction: column; /* Alinha logo e menu verticalmente */
        align-items: center;
        padding: 10px;
    }

    header img {
        width: 100px; /* Reduz a largura da imagem do cabeçalho */
        margin-bottom: 10px;
    }

    header nav ul {
        display: flex;
        flex-direction: column; /* Itens do menu ficam empilhados */
        padding: 0;
        margin: 0;
    }

    header nav ul li {
        padding: 10px 0;
        text-align: center;
    }

    header a {
        font-size: 18px; /* Tamanho da fonte ajustado */
        margin-bottom: 10px;
    }

    .imagem-de-fundo {
        background-position: center;
        height: 400px; /* Ajusta a altura da imagem de fundo */
        margin: 10px 20px;
    }

    .imagem-de-fundo h3 {
        font-size: 20px; /* Tamanho do texto ajustado */
        padding: 50px 30px 20px 30px; /* Ajuste do padding */
    }

    .imagem-de-fundo button {
        color: #4d2afa;
        font-size: 15px;
        font-weight: bold;
        margin: 8px;
        padding: 13px;
        border-radius: 8px;
        cursor: pointer;
        transition: .2s;
    }
    

    .sobre {
        flex-direction: column; /* Coloca a imagem e o texto em coluna */
        align-items: center;
        margin-top: 20px;
    }

    .sobre img {
        width: 200px; /* Ajusta o tamanho da imagem */
        margin-left: 0; /* Ajuste de margem */
        margin-right: 0;
    }

    .sobre p {
        font-size: 20px; /* Ajusta o tamanho da fonte */
        margin: 20px 30px 100px 30px;
        text-align: left;
    }

    .servicos {
        padding: 20px 10px;
    }

    .servicos h1 {
        font-size: 28px;
        padding: 20px 0;
    }

    .servicos h3 {
        font-size: 20px; /* Ajusta o tamanho da fonte */
        margin-bottom: 30px;
    }

    .container {
        flex-direction: column; /* Coloca os cartões em coluna */
        align-items: center;
        padding: 20px;
    }

    .cartao {
        width: 90%; /* Ajusta o tamanho dos cartões */
        margin-bottom: 20px;
    }

    .cartao div {
        padding: 10px;
    }

    .valores h1 {
        font-size: 26px;
    }

    .valor {
        width: 90%; /* Ajusta o tamanho das divs de valor */
        margin-bottom: 20px;
    }

    .valor h1 {
        font-size: 22px;
    }

    .valor p {
        font-size: 14px; /* Ajusta o tamanho da fonte */
    }

    .layout {
        grid-template-columns: 1fr; /* Coloca tudo em uma coluna */
    }

    .diferenciais {
        flex-direction: column;
        align-items: center;
    }

    .diferenciais img {
        width: 90%; /* Ajusta o tamanho das imagens */
        margin: 20px 0;
    }

    .artigos h1 {
        font-size: 24px;
    }

    .nossos-artigos {
        margin-left: 19px;
        flex-direction: column; /* Coloca os artigos em coluna */
        padding: 80px 0;

    }

    .artigo {
        border: 6px solid #130266;
        box-shadow: none;
        width: 80%; /* Ajusta o tamanho dos artigos */
        height: 800px;
        margin: 30px;
        padding: 0 0 30px 0;
    }

    
    .artigo p {
    justify-content: left;
    font-size: 20px;
    }



    .artigo a {
        color: #130266;
        font-weight: bold;
        cursor: pointer;
    }

    .artigo img {
        border-radius: 0;
        width: 100%;
        height: 100px;
        text-align: center;
    }

    footer {
        margin-top: 1800px;
        padding-bottom: 50px;
        flex-direction: column; /* Organiza os itens do footer em coluna */
        align-items: center;
        height: auto; /* Ajuste da altura */
    }

    footer a {
        font-size: 18px;
        margin-bottom: 10px;
    }

    footer img {
        height: 100px; /* Ajusta o tamanho da imagem no footer */
    }
}

